# Construccion de Cartera

### Librerias

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de Base de Datos

In [3]:
data_route = '../data/'

In [7]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [8]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [9]:
incomes

       DATE  AMOUNT  CATEGORY THIRD-PARTY DESCRIPTION
0  30-05-24      67  variable         sam     pasajes

In [281]:
expenses.columns

Index(['DATE', 'AMOUNT', 'CATEGORY', 'THIRD-PARTY', 'DESCRIPTION '], dtype='object')

In [282]:
incomes ['AMOUNT']

0    67
Name: AMOUNT, dtype: int64

In [283]:
incomes ['AMOUNT'].sum()

67

In [284]:
incomes.loc[0] ['DESCRIPTION']

'pasajes'

In [285]:
n = len(incomes)

In [286]:
incomes.loc[n] = ['11-10-2024',300,'VARIABLE','zeroHero','Comida']

In [287]:
incomes

         DATE  AMOUNT  CATEGORY THIRD-PARTY DESCRIPTION
0    30-05-24      67  variable         sam     pasajes
1  11-10-2024     300  VARIABLE    zeroHero      Comida

### Construccion de la Clase

In [324]:
class Wallet:
    def __init__(self,inputs):
        self.inputs = inputs
        self.incomes = pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses = pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])
       
        
        
    ### ACTIONS 

    ###ADD incomes to database  
    def add_income(self):
        date =  input( 'date: ')
        amount = input( ' amount: ')
        category = input( 'category: ')
        third_party = input( 'third party: ')
        description = input( 'description: ')

        new_income = [date,amount,category,third_party,description]
        
        n = len(self.incomes)
        self.incomes.loc[n] = new_income
        
        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'], index =False )

    
    ### ADD expense to database
    def add_expense(self):
        date =  input( 'date: ')
        amount = input( ' amount: ')
        category = input( 'category: ')
        third_party = input( 'third party: ')
        description = input( 'description: ')

        new_expense = [date,amount,category,third_party,description]
        
        n = len(self.expenses)
        self.expenses.loc[n] = new_expense
        
        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'], index =False )

    
    ### Calculate the total income
    def total_income(self):
        total = self.incomes['AMOUNT'].sum()
        return total
        
    ### Calculate total expense
    def total_expenses(self):
        total = self.expenses['AMOUNT'].sum()
        return total
        
    ### Calculate balance = income - expense
    def balance(self):
        balance = self.total_income() - self.total_expenses()
        return balance
        
    ### Create financial report using the functions above
    def finance_report(self):
        print ('\n'+'Financial Report'+'\n')
        print (f'Total Income: ${self.total_income()}')
        print (f'Total Expense: ${self.total_expenses()}')
        print (f'Total Balance: ${self.balance()}')
        
        if self.balance() > 0:
            print ('¡No olvides que puedes ahorrar el resto de tu dinero :D!')
        else:
            print ('¡Podrias ser mas responsable con tus Finanzas :c!')
    ### Para la implemetacion de UI es: import tkinter as tk
###from tkinter import messagebox

###def submit_data():
    # Aquí puedes procesar los datos ingresados por el usuario
   # asset_name = entry_asset_name.get()
   # units = entry_units.get()
    #price = entry_price.get()

    # Ejemplo de cómo mostrar los datos ingresados
    #messagebox.showinfo("Datos Ingresados", 
     #                   f"Activo: {asset_name}\n"
      #                  f"Unidades: {units}\n"
       #                 f"Precio: {price}")

# Crear la ventana principal
#root = tk.Tk()
#root.title("Cartera Financiera")

# Etiqueta de bienvenida
#label_welcome = tk.Label(root, text="Bienvenido a tu Cartera Financiera")
#label_welcome.pack(pady=10)

# Entradas para datos
#label_asset_name = tk.Label(root, text="Nombre del activo:")
#label_asset_name.pack()
#entry_asset_name = tk.Entry(root)
#entry_asset_name.pack()

#label_units = tk.Label(root, text="Unidades:")
#label_units.pack()
#entry_units = tk.Entry(root)
#entry_units.pack()

#label_price = tk.Label(root, text="Precio por unidad:")
#label_price.pack()
#entry_price = tk.Entry(root)
#entry_price.pack()

# Botón para enviar datos
#button_submit = tk.Button(root, text="Enviar", command=submit_data)
#button_submit.pack(pady=20)

# Ejecutar la aplicación
#root.mainloop()

In [325]:
inputs = {
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
}

In [326]:
cartera = Wallet(inputs)

In [327]:
cartera.finance_report()

Financial Report

Total Income: $67
Total Expense: $99
Total Balance: $-32
¡Podrias ser mas responsable con tus Finanzas :c!

In [292]:
cartera.expenses

       DATE  AMOUNT  CATEGORY THIRD-PARTY DESCRIPTION
0  30-25-23      99  variable      Tirnda      compras